*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main{
  margin-top: 50px;
}

#member-container{
  width: 1000px;
  margin: auto;
  text-align: center;
}

#member-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  width: calc(100% / 4);
  margin: 20px;
  padding: 5px;
  border: 1px solid #7c7c7c;
  border-radius: 20px;
  list-style: none;
}

.card .item{
  border-bottom: 1px solid #bdbdbd;
  padding: 10px;
}

.card img{
  width: 100%;
}